@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
* {
    font-family:'Noto Sans', sans-serif;
    scroll-behavior: smooth;
}
.wrapper {
    /* border:2px red solid; */
}
.navbar{
    /* border:2px blue solid; */
    display:flex;
}
.navbar-brand{
    /* border: 1px green solid; */
}
.navbar-collapse{
    /* border: 1px purple solid; */
    justify-content: flex-end;
    cursor: pointer;
}
.nav-link{
    background-color:#f9f9f9;
    /* border: 1px black dotted; */
}
/* Portfolio */
.portfolio{
    /* max-width:1380px; */
    height:586px;
    display:flex;
    /* border: 2px black solid; */
}
.portfolio .items{
    /* border: 2px red solid; */
    height: 560px;
    margin:32px;
}
.portfolio .items img{
    background-size: cover;
    width: 100%;
    height: 90%;
    cursor: zoom-in;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}
.portfolio .title h2{
    letter-spacing: 0.2rem;
}
.portfolio .title{
    padding: 10px 20px;
    cursor: pointer;
    /* border: 2px black solid; */
}
.portfolio .title h2:hover{
    text-decoration: underline overline;
}
/* Footer */
.footer{
    float: left;
    margin-top: 52px;
    /* border:2px blue solid; */
    display:flex;
    justify-content: space-between;
    position: sticky;
    font-weight: 600;
    color: #b6beb6;
}
.footer-copyright p{
    font-size: 12px;
}
.footer-link a{
    color: black;
    font-size: 16px;
}

.about .banner{
    background-image: url(images/profile.png);
    height: 520px;
    width: 1400px;
    background-size: contain;
    background-attachment: fixed;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-repeat: no-repeat;
}

.about {
    text-align: center;
}
.about .container{
    border: 2px red solid;

}
.about .mission{
    font-family: cursive;
    font-style: italic;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {
    .portfolio{
        height:810px;
    }
    .portfolio .items{
        height:820px;
    }
    .portfolio .items img{
        height: 90%;
        background-size:contain;
    }
    .footer{
        margin-top: 45px;
    }
    .about .banner{
        width: 1900px;
    }
}