.wrapper{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* border: 1px red solid; */
}
.intro{
    padding: 70px 0;
    font-size: 18px;
    line-height: 2em;
}
.horizontal-line{
    border: none;
    height: 4px;
    background: #F25757;
}
.grid-item img {
    width: 100%;
    padding: 15px;
}
.grid {
    display: flex;
}
.grid-col{
    flex-grow: 1;
    padding: 10px;
}
.grid-col--3 {
    display: none;
}
.title{
    position: absolute;
    color: black;
    margin-top: 1em;
    opacity: 0;
    transform: translateX(-.5em);
    transition: all 1s;
    will-change: opacity transform;
}
.title h2{
    margin: .2em .5em;
    font-size: 1em;
}
.grid-item:hover .title{
    opacity: 1;
    transform: translateX(0);
}
.grid-item img:hover{
    cursor: zoom-in;
}

@media(min-width: 768px){
    .wrapper{
        width: 90%;
    }
    .grid-col--2{
        display: block;
    }
    .grid-col{
        padding: 0 .5em;
    }
    img{
        margin-bottom: .8em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .grid-col--3{
        display: block;
    }
}