*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:'Farro', sans-serif;
    scroll-behavior: smooth;
    background: #EFEFEF;
}
.horizontal-line{
    border: none;
    height: 4px;
    background: #F25757;
}
/* Navigation bar */
nav{
    /* border:2px blue solid; */
    /* background-color: cornsilk; */
    width: 90%;
    top: 0;
}
label.logo{
    color: black;
    font-size: 32px;
    line-height: 80px;
    margin: 0 60px;
    cursor: pointer;
}
nav ul{
    float: right;
    margin-right: 80px;
    font-size: 20px;
    letter-spacing: .2em;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    padding-left: 40px;
}
nav ul li :hover{
    background: #F25757;
    transition: .5s;
    color: white;
}
nav ul li a{
    color: black;
}

/* Footer */
.footer{
    width: 90%;
    padding: 50px;
    font-weight: 600;
    font-size: 12px;
}

/* Portfolio */
.items{
    margin: 20px;
}
.portfolio .items img{
    background-size: cover;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}
.items .title{
    padding: 12px 8px;
}

/* CTA */
.grid-button{
    text-align: center;
    padding: 30px 0;
}

/* ABOUT HTML */
.about{
    background-color: #FFE5D4;
    color: #5e5d5b;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    padding: 150px 0;
}
.about p{
    background-color: #FFE5D4;
}
.container{
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
button{
    display: inline-block;
    padding: 10px 16px;
    border-radius: 6px;
    border: 3px solid #48233C;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
button:hover span {
    padding-right: 25px;
}
  
button:hover span:after {
    opacity: 1;
    right: 0;
}
.banner{
    margin: 90px 0;
    background-size: cover;
    background-position: center;
    padding: 190px 0;
}
.banner h2{
    background: none;
    color: white;
    font-family: 'Lora', serif;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 48px;
    font-style: italic;
    line-height: 1.8em;
}

/* Business-card */
.business-card{
    padding: 80px 260px;
    background: #FFE5D4;
}
.contact{
    overflow: hidden;
    width: 88%;
    height: 420px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
}
.contact-ref{
    height: 100%;
    width: 100%;
    background: #EFEFEF;
}
.contact img{
    height: 100%;
    width: 280px;
    object-fit: cover;
}
.contact-ref h2{
    padding: 50px 0;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}
.contact-ref p{
    font-size: 20px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
} 
.contact .contact-ref{
    padding: 32px;
    background: #EFEFEF;
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .portfolio .items{
        height:720px;
    }
    .portfolio .items img{
        height: 80%;
    }
    .container{
        width: 1170px;
    }
}

@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

@media (min-width: 992px){
    .container{
        width: 970px;
    }    
}